In [29]:
years= [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018]

In [36]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [18]:
web= 'https://en.wikipedia.org/wiki/2014_FIFA_World_Cup'
response= requests.get(web)
#print(response.text)
content= response.text

In [19]:
soup= BeautifulSoup(content, 'lxml')

In [22]:
matches= soup.find_all('div', class_= 'footballbox')
#matches

In [24]:
home= []
score= []
away= []

for match in matches:
    home.append(match.find('th', class_= 'fhome').get_text())
    score.append(match.find('th', class_= 'fscore').get_text())
    away.append(match.find('th', class_= 'faway').get_text())

In [25]:
dict_football= {'Home': home, 'Score': score, 'Away': away}
df_football= pd.DataFrame(dict_football)
df_football

            Home         Score          Away
0        Brazil            3–1       Croatia
1        Mexico            1–0      Cameroon
2        Brazil            0–0        Mexico
3      Cameroon            0–4       Croatia
4      Cameroon            1–4        Brazil
..           ...           ...           ...
59  Netherlands   0–0 (a.e.t.)    Costa Rica
60       Brazil            1–7       Germany
61  Netherlands   0–0 (a.e.t.)     Argentina
62       Brazil            0–3   Netherlands
63      Germany   1–0 (a.e.t.)     Argentina

[64 rows x 3 columns]

In [26]:
df_football['Year']= 2014
df_football

            Home         Score          Away  Year
0        Brazil            3–1       Croatia  2014
1        Mexico            1–0      Cameroon  2014
2        Brazil            0–0        Mexico  2014
3      Cameroon            0–4       Croatia  2014
4      Cameroon            1–4        Brazil  2014
..           ...           ...           ...   ...
59  Netherlands   0–0 (a.e.t.)    Costa Rica  2014
60       Brazil            1–7       Germany  2014
61  Netherlands   0–0 (a.e.t.)     Argentina  2014
62       Brazil            0–3   Netherlands  2014
63      Germany   1–0 (a.e.t.)     Argentina  2014

[64 rows x 4 columns]

In [37]:
def get_matches(year):
    web= f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'
    response= requests.get(web)
    content= response.text
    soup= BeautifulSoup(content, 'lxml')
    
    matches= soup.find_all('div', class_= 'footballbox')
    
    home= []
    score= []
    away= []

    for match in matches:
        home.append(match.find('th', class_= 'fhome').get_text())
        score.append(match.find('th', class_= 'fscore').get_text())
        away.append(match.find('th', class_= 'faway').get_text())
        
    dict_football= {'Home': home, 'Score': score, 'Away': away}
    football= pd.DataFrame(dict_football)
    football['Year']= year
    
    return football

In [41]:
fifa= [get_matches(year) for year in years]
#fifa
df_fifa= pd.concat(fifa, ignore_index= True)

In [43]:
df_fifa.to_csv('fifa_worldcoup_historical_data.csv', index= False)

In [45]:
df_fixture= get_matches(2022)
df_fixture.to_csv('fifa_worldcoup_fixture2022.csv', index= False)